:root {
  --PersianBlue       : #1c39bb;
  --MediumPersianBlue : #0067a5;
  --PersianIndigo     : #32127a;
  --PersianPink       : #f77fbe;
  --PersianRose       : #fe28a2;
  --PersianRed        : #cc3333;
  --PersianGreen      : #00a693;
  --PersianOrange     : #d99058;
  --PersianPlum       : #701c1c;
}
